CREATE TABLE [dbo].[Dish](
    [ID] varchar(50) NOT NULL,
    [name] nvarchar(50) NULL,
    [description] nvarchar(255)  NULL,
    [imagePath] nvarchar(255) NULL,
    [date] datetime NULL,
    PRIMARY KEY CLUSTERED ([ID])
);


    
      
        
        
